.details-card{
  width: 15rem;
  margin: 0 auto;
}
.table td{
  padding: 0.40rem;
  border: none;
}
.icon-color{
  color: #F57842;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.letter-spacing{
  letter-spacing: 5px;
  font-weight: 700;
}
