<div class="details-card pt-2">
    <p class="letter-spacing">SOCIAL <i class="fab fa-d-and-d icon-color"></i></p>
    <table class="table">
      <tr>
        <td><i class="fab fa-linkedin"></i></td>
        <td><b>LinkedIn</b><br /><a href="https://www.linkedin.com/in/kalanithiasethuraman/" target="_blank"><i>kalanithiasethuraman</i></a></td>
      </tr>
      <tr>
        <td><i class="fab fa-twitter"></i></td>
        <td><b>Twitter</b><br /><a href="https://twitter.com/I_Am_Nithi" target="_blank"><i>I_Am_Nithi</i></a></td>
      </tr>
      <tr>
        <td><i class="fab fa-github"></i></td>
        <td><b>GitHub</b><br /><a href="https://github.com/IAmNithi" target="_blank"><i>IAmNithi</i></a></td>
      </tr>
    </table>
  </div>
