<div class="details-card pt-4">
    <table class="table">
      <tr>
        <td><i class="fas fa-map-marker-alt icon-color"></i></td>
        <td>4/95 west street, viraganoor, madurai, Tamilnadu, India-625009</td>
      </tr>
      <tr>
        <td><i class="fas fa-phone icon-color"></i></td>
        <td>+91-9994893225</td>
      </tr>
      <tr>
        <td><i class="fas fa-envelope-open icon-color"></i></td>
        <td>kalanithi_sas@outlook.com</td>
      </tr>
      <tr>
        <td><i class="fab fa-internet-explorer icon-color"></i></td>
        <td><a href="https://iamnithi.github.io/profile/" target="_blank">iamnithi.github.io/profile/</a></td>
      </tr>
    </table>
  </div>
