<div class="bio">
    <div class="bio-title">
      <i class="fas fa-briefcase"></i> Experience
    </div>
    <div class="pt-2">
      <table class="table">
        <tr>
          <td>
            <b>Associate Experience Technology L2</b>
          </td>
          <td>
            <b>Publicis Sapient</b>
            <p class="color-dull">June 2018 - present</p>
          </td>
        </tr>
        <tr>
          <td>
            <b>Associate Software Engineer</b>
          </td>
          <td>
            <b>Altimetrik India Pvt Ltd</b>
            <p class="color-dull">Aug 2016 - June 2018</p>
          </td>
        </tr>
        <tr>
          <td>
            <b>Internship</b>
          </td>
          <td>
            <b>Altimetrik India Pvt Ltd</b>
            <p class="color-dull">Feb 2016 - Mar 2016</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
