<div class="bio">
    <div class="bio-title">
      <i class="fas fa-radiation-alt"></i> Skill & Expertise
    </div>
    <div class="p-4">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="skill-set">
            <b>HTML, CSS & Js</b>
            <div class="progress">
              <div class="progress-bar bg-custom" style="width:80%"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="skill-set">
            <b>Angular</b>
            <div class="progress">
              <div class="progress-bar bg-custom" style="width:85%"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="skill-set">
            <b>React Js</b>
            <div class="progress">
              <div class="progress-bar bg-custom" style="width:60%"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="skill-set">
            <b>Node Js</b>
            <div class="progress">
              <div class="progress-bar bg-custom" style="width:75%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
